

.header {
    box-shadow: inset 0px -2px 0px var(--box-shadow);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: var(--text);

    display: flex;
    column-gap: 30px;
}

.header__button {
    font-size: 16px;
    font-weight: 700;
    color:#03B2A5 ;
    background-color: #E3F5F5;

    border-radius: 4px;
    padding: 14px 20px;
}

.header__button:hover {
    color: #48dad0;
}












.nav ul{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25px;

    display: flex;
    column-gap: 28px;
}

.nav li:not(:last-of-type)::after {
    content: url(../images/nav-arrow.svg);
    position: absolute;
    margin: 0 13px 0 10px;
}

.nav a {
    color: var(--semi-transparent-text);
}









.main {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.tags__list {
    font-size: 14px;
    font-weight: 600;
    color: var(--text);

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.blog-tags__list a {
    line-height: 20px;
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 6px 8px;

    display: flex;
    gap: 4px;
}

.blog-tags__list a:active,
.blog-tags__list a:hover  {
    background: #F9FDFD;
    border: 2px solid var(--active-border);
    border-radius: 24px;
    
} 
.blog-tags__list a:active::before,
.blog-tags__list a:hover::before {
    content: url("../images/unicorn\ icon.svg");
    width: 18px;
    height: 18px;
}

.mtl-1::before {
    content: url("../images/smile\ icon.svg");
    width: 18px;
    height: 18px;
}


.blog__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    box-sizing: border-box;
}
.blog__article {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;

    position: relative;
    margin-bottom: 24px;
} 
.article__img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.article__tags {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 8px;
    left: 8px;

}
.article__tags li {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 6px 8px;
    width: fit-content;

    display: flex;
    gap: 4px;
    margin: 7px 0 0 8px;
}
.article__tags li::before {
    content: url("../images/unicorn\ icon.svg");
    width: 18px;
    height: 18px;
} 

.article-box {
    padding: 16px 16px 0 16px;

    display: flex;
    min-height: 196px;
}

.article__text-block {
    display: flex;
    flex-direction:column;
    gap: 4px;
} 

.article__author {
    color: var(--leight-text);
}
.article__date {
    color: #868686;

    position: absolute;
    bottom: 16px;
    left: 16px;
}

.main__button {
    padding: 12px 72.5px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: #35B3A9;
    border-radius: 4px;
    align-self: center;
}

.main__button:hover {
    background: #48dad0;
}











.main__container {
    display: flex;
    gap: 24px;
}
.post {
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.post__tags-list {
    gap: 20px;
}
.post__tags-list li:not(:last-of-type)::after {
    content: "·";
    position: absolute;
    margin: 0 8px;
}
.post__tags-up ul {
    color:  var(--leight-text);
}

.post__img {
    width: 100%;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 32px;

}
.content-list > li {
    list-style-type: disc;
}
.content-list li::marker {
    color: #03B2A5;
    font-size: 1.5em;
}
.post__content-list {
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.post__content-list ul {
    padding-left: 18px;
    margin-top: 4px;
}


.post__paras {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.post__para {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.post__quote-box {
    background: #F3F7FE;
   
    padding: 24px;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quote-box__img {
    position: absolute;
}

.post__photo-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: 0.25 px;
    color: #868686;
}
.post__middle-p {
    padding: 24px 104px 48px 102px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-p__img {
    position: absolute;
    z-index: -1;
}
.middle-p__text {
    text-align: center;
}
.post__photo-text-box {
    display: flex;
    gap: 24px;
}


.post__ex-block {
    padding: 24px;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ex1 {
    background: #FEFAEC;
}
.ex2 {
    background: #FFF3EB;
}
.ex3{
    background: #03B2A51A;
}
.post__two-art {
    display: flex;
    gap: 24px;
}
.post__art {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.post__line {
    display: flex;
    justify-content: center;
}

.post__tags-bottom ul {
    color: #2963A3;
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    gap: 24px;
    box-sizing: border-box; 
}
.sidebar__section {
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.s-1 {
    background: #E6F0FD;
    padding: 24px;

    gap: 24px;
}
.s-1__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
.s-1__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.s-1__button, .s-2__button {
    line-height: 24px;
}

.s-2 {
    position: relative;

    padding: 24px 16px 36px 16px;
}
.s-2__header {
    text-align: center;
    box-shadow: 0px 1px 0px 0px #DEDEDE;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.s-2__img {
    border-radius: 100px;
    margin-bottom: 16px;
}
.s-2__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.s-2__sub-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.s-2__list {
    color: #A2A7B1;

    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 4px;
}
.s-2__list li:not(:last-of-type)::after {
    content: "·";
    position: absolute;
    margin: 0 8px;
    font-weight: 900;
    font-size: 18px;
}
.s-2__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-2__footer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin: 8px 0 20px 0;
}
.s-2__tags-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    z-index: 1;
}
.s-2__tags-list li {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.25 px;
    display: flex;
    gap: 4px;

    width: fit-content;
    padding: 3px 6px;
    border-radius: 6px;
    background: #F3F4F8B2;
}


.s-3 {
    position: relative;
    overflow: hidden;

    background: #2963A3;
    min-height: 280px;
}

.s-3 img {
    position: absolute;
}
.s-3__img1 {
    width: 100%;
    height: auto;
    z-index: 1;
} 
.s-3__img2 {
    height: auto;
    z-index: 2;
}
.s-3__title {
    color: #FFFFFF;
    text-align: center;
    z-index: 3;
}
.s-4 {
    overflow: hidden;
    justify-content: end;
    
}
.s-4__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px;
}
.s-4__title {
   color: #2963A3;
}
.s-4__title-span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.s-4__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#011632;
}
.s-4__button {
    padding: 12px 16px;
    align-self: self-start;
}
.s-4__img {
    position: absolute;
    align-self: self-end;
    border-bottom-right-radius: 16px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
}
.bottom__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.bottom__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #FFFFFF;
    background: #16C8BB;
    
    height: 60px;
    max-width: 238px;
    padding: 20px 24px;
    border-radius: 4px;
}



.big-buble, .small-buble {
    align-self: end;
    position: absolute;
    z-index: -1; 
}
.small-buble {
    top: 5269px;
}
.big-buble {
    margin-top: 3086px;
}





.footer {
    background: #2963A3;
    color: #FFFFFF;
}

.footer__inf {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}
.footer__inf-nav {
    display: flex;
    justify-content: space-between;
    gap: 93px;
}

.footer__inf-list {
    display: flex;
    flex-direction: column;
    gap: 16px;  
}

.email__form {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 46px;
    max-width: 384px;
    margin: 8px 0;
    border-radius: 4px;
}
.email__input {
    color: #9D9D9D;
    opacity: 0.7;
    padding-left: 16px;
}
.email__button {
    padding: 13.35px 21px 13.35px 23px;
    background: #16C8BB;
    border-radius: 4px;
}

.footer__small-text {
    opacity: 0.7;
}
.footer__icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__social-media-icons {
    display: flex;
    gap: 16px;
}

.footer__line {
    background: #9D9D9D;
    opacity: 0.3;
    height: 1px;

    margin: 24px 0 16px 0;
}


.footer__list-bottom {
    display: flex;
    gap: 48px;
}
.footer__list-bottom a {
    opacity: 0.7;
}




.text1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
}
.text2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.text3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.text4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}